* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
}

/* HEADER */
.header {
  background: linear-gradient(90deg, #ff7a00, #ff9a3c);
  color: white;
  padding: 25px 20px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.header h1 {
  font-size: 26px;
}

/* SEARCH */
.search-section {
  padding: 20px;
  margin-top: -10px;
}

.search-section input {
  width: 100%;
  padding: 16px;
  font-size: 18px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  outline: none;
}

/* SECTION */
.section {
  padding: 15px;
}

.section h2 {
  font-size: 22px;
  margin-bottom: 15px;
}

/* PRODUCTS */
.products {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* CARD */
.card {
  background: white;
  padding: 18px;
  border-radius: 18px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-info h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.price {
  color: #ff7a00;
  font-weight: bold;
  font-size: 17px;
}

/* BUTTON */
.btn {
  background: #ff7a00;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background: #e56f00;
}
