* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background-color: #f5f2ee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: white;
  width: 100%;
  height: 100vh;
  padding: 60px 30px;
  border-radius: 0;
  box-shadow: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo img {
  width: 110px;
  margin-bottom: 30px;
}

h1 {
  font-size: 34px;
  margin-bottom: 10px;
  color: #2c2c2c;
}

.subtitulo {
  color: #8a7f73;
  margin-bottom: 40px;
  font-size: 16px;
}

form {
  text-align: left;
}

label {
  font-size: 15px;
  color: #444;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 16px;
  margin: 10px 0 25px 0;
  border-radius: 16px;
  border: 1px solid #ddd;
  font-size: 16px;
}

input:focus {
  outline: none;
  border-color: #f28c28;
  box-shadow: 0 0 0 3px rgba(242,140,40,0.15);
}

button {
  width: 100%;
  padding: 18px;
  border: none;
  border-radius: 16px;
  background-color: #f28c28;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.links {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.links a {
  text-decoration: none;
  color: #f28c28;
  font-size: 15px;
  font-weight: bold;
}
