* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 35px; /* aumenta base geral */
}

body {
  min-height: 100vh;
  background: #f5f2ee;
  padding: 30px;
}

/* Container ocupa tela toda */
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Logo */
.logo {
  text-align: center;
  margin-bottom: 40px;
}

.logo img {
  width: 250px;
}

/* Título */
h1 {
  font-size: 2.5rem; /* grande */
  text-align: center;
  margin-bottom: 10px;
  color: #2c2c2c;
}

.subtitulo {
  text-align: center;
  font-size: 1.2rem;
  color: #6b6b6b;
  margin-bottom: 50px;
}

/* Form */
form {
  width: 100%;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

input {
  width: 100%;
  padding: 22px;
  margin: 12px 0 35px 0;
  border-radius: 20px;
  border: 2px solid #ddd;
  font-size: 1.2rem;
}

input:focus {
  outline: none;
  border-color: #f28c28;
  box-shadow: 0 0 0 4px rgba(242,140,40,0.2);
}

/* Botão */
button {
  width: 100%;
  padding: 24px;
  border: none;
  border-radius: 20px;
  background-color: #f28c28;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 10px;
}

/* Links */
.links {
  margin-top: 50px;
  text-align: center;
}

.links a {
  display: block;
  margin: 18px 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #f28c28;
  text-decoration: none;
}

/* Tela inicial */
.menu-home {
  margin-top: 40px;
}

.menu-home button {
  width: 100%;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: none;
  background-color: #f28c28;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

/* TOPO */
.topo {
  padding: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

/* BUSCA */
.busca {
  padding: 0 20px 20px 20px;
}

.busca input {
  width: 100%;
  padding: 18px;
  border-radius: 20px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

/* BANNER */
.banner {
  margin: 0 20px 25px 20px;
  padding: 25px;
  border-radius: 25px;
  background: linear-gradient(135deg, #f28c28, #ffb347);
  color: white;
}

/* CATEGORIAS */
.categorias {
  display: flex;
  overflow-x: auto;
  padding: 0 20px 25px 20px;
  gap: 15px;
}

.categoria {
  min-width: 120px;
  padding: 20px;
  border-radius: 50px;
  background: #fff3e6;
  text-align: center;
  font-weight: bold;
}

/* OFERTAS */
.ofertas {
  padding: 0 20px 40px 20px;
}

.produtos {
  display: flex;
  gap: 15px;
  overflow-x: auto;
}

.card-produto {
  min-width: 180px;
  padding: 20px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.preco {
  margin-top: 10px;
  font-weight: bold;
  color: #f28c28;
}

